.about {
  color: $about-color;
  background-image: url("./../public/about-bg.svg");
}

.about .section__tag {
  display: none;
}

.about h3 {
  margin: 0;
}

.about__mobile-text {
  display: none;
}

.about p {
  margin: 0;
  margin-bottom: 18px;
}

.about p:nth-child(2n) {
  margin-bottom: 0;
}

.about .container {
  grid-template-columns: 38% 1fr;
}

.about .section__text {
   padding-bottom: 35px;
}

.about .main-button {
  margin-left: 66px;
  margin-bottom: 40px;
}

@media (max-width: $max-mobile-width) {
  .about .puzzle {
    transform: scale(0.5);
  }

  .about .puzzle {
    // width: 320px;
    // height: 289px;
  }
}
