.about {
  color: $about-color;
  background-image: url("./../public/about-bg.svg");
}

.about h3 {
  margin-bottom: 106px;
}

.about .section__text + .section__text {
  margin-top: 20px;
}

.about .section__wrapper {
  margin-top: 31%;
}

// .about .section__media  {
//   position: absolute;
//   top: 231px;
//   left: 53.5%;
//   transform: translateX(-50%);
// }
.about__mobile-text {
  display: none;
}

.about p {
  margin: 0;
  margin-bottom: 18px;
}

.about p:nth-child(2n) {
  margin-bottom: 0;
}

.about .container {
  padding-bottom: 40px;
}

@media (max-width: $max-mobile-width) {
  .about .puzzle {
    transform: scale(0.5);
  }

  .about .puzzle {
    width: 320px;
    height: 289px;
  }
}
