html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace, sans-serif;
  background-color: $primary-dark;
  color: $basic-white;
  font-size: 16px;
  font-weight: 400;
}

// 400 500 600 700

li {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  // position: relative;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 120px;
  margin: 0 auto;
  height: 100%;
  max-width: $desktop-content-width;

  @media (max-width: $max-mobile-width) {
    padding: 0 20px;
  }
}

.footer {
  flex: 0 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
