.create {
  position: relative;
  color: $create-color;
  background-image: url("./../public/create-bg.svg");
}

.create h3 {
  margin-bottom: 173px;
}

.create .section__wrapper {
  padding-bottom: 56px;
}

.create .section__media {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

@media (max-width: $max-mobile-width) {
  .create .section__wrapper {
    margin-right: 0;
  }

  .create.section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create .section__media {
    margin-top: 34px;
    margin-left: 10px;
  }

  .create h3 {
    margin-bottom: 0;
  }

  .create h3 br:nth-child(1) {
    display: none;
  }

  .create .section__tag {
    margin-bottom: 7px;
  }
}
