.create {
  position: relative;
  color: $create-color;
  background-image: url("./../public/create-bg.svg");
}

.create .ui-section__text {
  margin-bottom: 56px;
}

@media (max-width: $pre-desktop-width) {
}

@media (max-width: $max-tablet-width) {
  .create .ui-section__wrapper {
    margin-right: 0;
    margin: 0;
  }

  .create br {
    display: none;
  }

  .create h3 br:nth-child(2) {
    display: block;
  }

  .create .ui-section__text {
    margin-top: 5px;
    margin-bottom: 40px;
    display: block;
    order: 1;
  }

  .create .ui-section__text br:nth-child(3) {
    display: block;
  }

  .create .main-button {
    order: 2;
  }

  .create .ui-section__media {
    margin-left: 5px;
  }

  .create h3 {
    margin-bottom: 34px;
  }

  .create h3 br:nth-child(1) {
    display: none;
  }

  .create .ui-section__tag {
    margin-bottom: 7px;
  }

  .ui-section.create .container {
    min-height: 852px;
  }
}

@media (max-width: $max-mobile-width) {
}
