.explore {
  color: $bright-blue;
  position: relative;
}

.explore .section__wrapper {
  position: relative;
  z-index: 1;
  padding-bottom: 56px;
}

.section.explore h3 {
  margin-bottom: 154px;
  display: block;
  line-height: 56px;
}

.section.explore .section__media {
 position: absolute;
 top: 0;
 left: 0;
}

@media (max-width: $max-mobile-width) {
  .section.explore h3 {
    margin-bottom: 24px;
    line-height: 40px;
  }

  .section.explore .section__text {
    display: block;
  }

  .section.explore br {
    display: none;
  }

  .explore .section__wrapper {
    margin-top: 0;
    align-self: center;
  }

  .explore.section .container {
    align-items: center;
    justify-content: center;
  }
}
