.explore {
  color: $bright-blue;
  position: relative;
}

.explore .uiVideo {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.5);
  }
}

.explore .ui-section__wrapper {
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.explore .ui-section__text {
  margin-bottom: 56px;
  grid-row: 2 / 3;
}

.ui-section.explore h3 {
  display: block;
  line-height: 56px;
}

.ui-section.explore .ui-section__media {
 position: absolute;
 top: 0;
 left: 0;
}

.ui-section.explore h3 br:nth-of-type(3),
.ui-section.explore .ui-section__text  br:nth-of-type(3) {
  display: none;
}

@media (max-width: $max-mobile-width) {
  .ui-section.explore h3 {
    margin-bottom: 24px;
    line-height: 40px;
  }

  .ui-section.explore .ui-section__text {
    display: block;
    margin-bottom: 40px;
  }

  .ui-section.explore br {
    display: none;
  }

  .ui-section.explore h3 br:nth-of-type(3),
  .ui-section.explore .ui-section__text  br:nth-of-type(2),
  .ui-section.explore .ui-section__text  br:nth-of-type(3) {
    display: block;
  }

  .explore .ui-section__wrapper {
    margin-top: 0;
    align-self: center;
  }

  .ui-section.explore .container {
    min-height: 708px;
  }
}
