.footer {
  background-color: $dark-grey;
}

.footer .container {
  display: flex;
  padding-top: 114px;
  padding-bottom: 120px;
}

.footer form {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer input,
.footer button {
  border: 1px solid $primary-dark;
  color: $primary-dark;
  padding: 48px 40px;
  width: 560px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 6px 0;
  background-color: transparent;
}

.footer input::placeholder {
  color: $primary-dark;
}

.footer button {
  background-color: transparent;
  margin-bottom: 0;
  line-height: 28px;
  border-color: $light-blue;
  color: $light-blue;
}

.footer section {
  font-family: "Roboto", monospace, sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding-top: 122px;
}

.footer a {
  margin: 20px 0;
  color: $light-blue;
}

.footer__wrapper {
  width: 560px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 17px;
}

.footer__wrapper span {
  color: $light-grey;
}

.footer__line {
  flex-grow: 1;
  height: 1px;
  background-color: $extra-light-grey;
  margin: 0 24px;
}

.footer__wrapper a + a {
  margin-left: 24px;
}

.footer__wrapper a {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__copyright {
  margin-top: auto;
  color: $light-grey;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: $pre-desktop-width) {
  .footer input,
  .footer button,
  .footer__wrapper {
    width: 460px;
  }
}

@media (max-width: $max-tablet-width) {
  .footer input,
  .footer button {
    min-width: initial;
    width: 100%;
    padding: 26px 20px;
    margin-bottom: 10px;
  }

  .footer button {
    border-width: 2px;
    padding: 24px 20px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer section,
  .footer .container {
    flex-direction: column;
  }

  .footer .container {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .footer section {
    padding-top: 30px;
  }

  .footer__wrapper {
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
  }

  .footer__wrapper:nth-of-type(2) {
    margin-top: 16px;
  }

  .footer form {
    margin-right: 0;
  }

  .footer input {
    border-width: 2px;
  }

  .footer__copyright {
    margin-top: 60px;
    font-size: 14px;
    line-height: 20px;
  }

  .footer {
    padding-top: 14px;
  }

  .footer a {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .footer__wrapper a {
    margin-top: 0;
  }
}

// @media (max-width: $max-mobile-width) {
// }
