.footer {
  padding: 120px 0;
  background-color: $dark-grey;
}

.footer .container {
  display: flex;
}

.footer form {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer input,
.footer button {
  border: 1px solid $primary-dark;
  color: $primary-dark;
  padding: 48px 40px;
  min-width: 560px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 8px 0;
  background-color: transparent;
}

.footer input::placeholder {
  color: $primary-dark;
}

.footer button {
  background-color: transparent;
  margin-bottom: 0;
  line-height: 28px;
}

.footer section {
  font-family: "Roboto", monospace, sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding-top: 122px;
}

.footer a {
  margin: 20px 0;
  color: $light-blue;
}

.footer__wrapper {
  width: 560px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.footer__wrapper span {
  color: $light-grey;
}

.footer__line {
  flex-grow: 1;
  height: 1px;
  background-color: $extra-light-grey;
  margin: 0 24px;
}

.footer__wrapper a + a {
  margin-left: 24px;
}

.footer__wrapper a {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__copyright {
  margin-top: auto;
  color: $light-grey;
}

@media (max-width: $tablet-width) {
  .footer input,
  .footer button {
    min-width: initial;
    width: 100%;
    padding: 28px 20px;
  }

  .footer button {
    border-color: $light-blue;
    color: $light-blue;
    border-width: 2px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer section,
  .footer .container {
    flex-direction: column;
  }

  .footer section {
    padding-top: 80px;
  }

  .footer__wrapper {
    max-width: 100%;
  }

  .footer form {
    margin-right: 0;
  }

  .footer input {
    border-width: 2px;
  }

  .footer__wrapper + .footer__wrapper {
    margin-top: 40px;
  }

  .footer__copyright {
    margin-top: 80px;
    font-size: 14px;
    line-height: 20px;
  }

  .footer a {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .footer__wrapper a {
    margin-bottom: 0;
  }
}
