.invest {
    color: $primary-green;
    background-image: url("./../public/invest-bg.svg");
}

.invest .container {
    position: relative;
}

.invest .section__text {
    padding-bottom: 49px;
}

.invest .main-button {
    margin-bottom: 34px;
}

