.invest {
    color: $primary-green;
    background-image: url("./../public/invest-bg.svg");
}

.invest .container {
    padding-bottom: 49px;
    position: relative;
    display: grid;
    grid-template-columns: 45% 1fr;
}

.invest h3 {
    margin-bottom: 170px;
}

.invest .main-button {
    bottom: 32px;
}