.invest {
    color: $primary-green;
    background-image: url("./../public/invest-bg.svg");
}

.invest .container {
    padding-bottom: 56px;
    position: relative;
}

.invest h3 {
    margin-bottom: 170px;
}

.invest .section__media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-22%,-50%);
}

.section.invest .section__wrapper {
    width: 50%;
    margin-top: 25%;
}
