.megaphone {
  display: flex;
  position: relative;
  width: 677px;
  height: 261px;
  flex-shrink: 0;
  overflow: hidden;
}

.megaphone__img {
  top: 0;
  left: 0;
  position: absolute;
}

.megaphone__img img {
  width: 100%;
  height: 100%;
}

.megaphone__img--1 {
  width: 30%;
  height: 77%;
  transform: translate(-9%, 16%);
}

.megaphone__img--2 {
  width: 12%;
  height: 31%;
  transform: translate(220%, 110%);
  animation: 1s bubbleScaling-1 cubic-bezier(0.33, 1, 0.68, 1) 0.9s infinite alternate;
}

.megaphone__img--3 {
  width: 18%;
  height: 46%;
  transform: translate(206%, 110%);
  animation: 2s bubbleScaling-2 cubic-bezier(0.33, 1, 0.68, 1) infinite alternate;
}

.megaphone__img--4 {
  width: 24%;
  height: 63%;
  transform: translate(200%, 0%);
  animation: 1s bubbleScaling-3 cubic-bezier(0.33, 1, 0.68, 1) 1.2s infinite alternate;
}

.megaphone__img--5 {
  width: 30%;
  height: 78%;
  transform: translate(234%, 27%);
  animation: 2s bubbleScaling-4 cubic-bezier(0.33, 1, 0.68, 1) 2s infinite alternate;
}

@keyframes bubbleScaling-1 {
  0% {
    transform: translate(220%, 110%) scale(1);
  }

  0% {
    transform: translate(220%, 110%) scale(1.2);
  }
}

@keyframes bubbleScaling-2 {
  0% {
    transform: translate(206%, 110%) scale(1);
  }

  0% {
    transform: translate(206%, 110%) scale(1.2);
  }
}

@keyframes bubbleScaling-3 {
  0% {
    transform: translate(200%, 0%) scale(0);
  }

  0% {
    transform: translate(200%, 0%) scale(0.8);
  }
}

@keyframes bubbleScaling-4 {
  0% {
    transform: translate(234%, 27%) scale(0);
  }

  0% {
    transform: translate(234%, 27%) scale(0.9);
  }
}

@media (max-width: $pre-desktop-width) {
}

@media (max-width: $max-tablet-width) {
  .megaphone {
    width: 280px;
    height: 200px;
  }

  .megaphone__img--1 {
    height: 40%;
    transform: translate(-9%, 25%);
  }

  .megaphone__img--2 {
    width: 13%;
    height: 18%;
    transform: translate(212%, 109%);
    animation: 1s bubbleScaling-1 cubic-bezier(0.33, 1, 0.68, 1) 0.9s infinite alternate;
  }

  .megaphone__img--3 {
    width: 23%;
    height: 29%;
    transform: translate(156%, 121%);
    animation: 1s bubbleScaling-2 cubic-bezier(0.33, 1, 0.68, 1) 0.9s infinite alternate;
  }

  .megaphone__img--4 {
    width: 28%;
    height: 40%;
    transform: translate(173%, 0);
    animation: 1s bubbleScaling-3 cubic-bezier(0.33, 1, 0.68, 1) 0.9s infinite alternate;
  }

  .megaphone__img--5 {
    width: 34%;
    height: 50%;
    transform: translate(186%, 69%);
    animation: 1s bubbleScaling-4 cubic-bezier(0.33, 1, 0.68, 1) 0.9s infinite alternate;
  }

  @keyframes bubbleScaling-1 {
    0% {
      transform: translate(212%, 109%) scale(1);
    }
  
    0% {
      transform: translate(212%, 109%) scale(1.2);
    }
  }
  
  @keyframes bubbleScaling-2 {
    0% {
      transform: translate(156%, 121%) scale(1);
    }
  
    0% {
      transform: translate(156%, 121%) scale(1.2);
    }
  }
  
  @keyframes bubbleScaling-3 {
    0% {
      transform: translate(173%, 0) scale(0);
    }
  
    0% {
      transform: translate(173%, 0) scale(0.8);
    }
  }
  
  @keyframes bubbleScaling-4 {
    0% {
      transform: translate(186%, 69%) scale(0);
    }
  
    0% {
      transform: translate(186%, 69%) scale(0.9);
    }
  }
  
}

@media (max-width: $max-mobile-width) {
}

