.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary-dark, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 960px;
    height: 540px;
    position: relative;
    background-color: $light-blue;
    color: $basic-white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content video {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal__content p {
    font-size: 26px;
    line-height: 32px;
}

.modal__content button {
    position: absolute;
    right: -100px;
    top: 0;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: none;
    padding: 0;
}
