.promo__wrapper {
  position: absolute;
  top: 48%;
  left: 0;
  transform: translateY(-50%);
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
  width: 100%;
}

.promo .section__text {
  position: relative;
  z-index: 101;
}

.promo__title {
  color: transparent;
  animation-name: titleTranslate;
  animation-timing-function: linear;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  font-weight: 900;
  font-size: 300px;
  line-height: 300px;
  text-transform: uppercase;
  white-space: nowrap;
  animation-delay: 0;
  padding: 0 80px;
}

// .promo__wrapper .promo__title:last-child {
//   // animation-delay: 10s;
// }

.section.promo .container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 72px;
}

.section.promo .section__wrapper {
  margin-top: auto;
}

.section.promo {
  background-position: 0 0;
}

@keyframes titleTranslate {
  100% {
    transform: translate(-100%);
  }
}

@media (max-width: $tablet-width) {
  .promo__wrapper {
    display: none;
  }

  .section.promo .section__wrapper {
    margin-top: initial;
    max-width: none;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }

  .section.promo .container {
    justify-content: center;
  }

  .section.promo br {
    display: none;
  }
}
