.promo__wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
  width: 100%;
}

.promo .ui-section__text {
  position: relative;
  z-index: 101;
}

.promo__title {
  font-family: "Roboto", monospace, sans-serif;
  color: transparent;
  animation-name: titleTranslate;
  animation-timing-function: linear;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  font-weight: 900;
  font-size: 300px;
  line-height: 300px;
  text-transform: uppercase;
  white-space: nowrap;
  animation-delay: 0;
  padding: 0 80px;
}

.ui-section.promo .container {
  position: relative;
  overflow: hidden;
}

.ui-section.promo .ui-section__wrapper {
  display: none;
}

.ui-section.promo .icon-border {
  stroke: red;
}

.ui-section.promo .ui-section__text {
  z-index: 2;
  grid-row: 2 / 3;
  margin-bottom: 72px;
  align-self: flex-end;
}

.promo .ui-section__bg {
  position: absolute;

  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("./../public/video.png");
    width: 100%;
    height: 100%;
  }
}

.ui-section.promo {
  background-position: 0 0;
}

@keyframes titleTranslate {
  100% {
    transform: translate(-100%);
  }
}

@media (max-width: $pre-desktop-width) {
  .ui-section.promo {
    height: 100vh;
  }
}

@media (max-width: $max-tablet-width) {
  .promo__wrapper {
    display: none;
  }

  .ui-section.promo .ui-section__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
  }

  .ui-section.promo br {
    display: none;
  }

  .ui-section.promo .main-button br {
    display: block;
  }

  .ui-section.promo .container {
    // padding-top: 228px;
    padding-bottom: 20px;
    height: 100%;
    justify-content: flex-end;
  }
}
