.promo {
  display: flex;
  align-items: flex-end;
  padding-bottom: 72px;
  overflow: hidden;
}

.promo__wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
}

.promo .section__text {
    position: relative;
    z-index: 101;
}

.promo__title  {
  color: transparent;
  animation-name: titleTranslate;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  font-weight: 900;
  font-size: 300px;
  line-height: 300px;
  text-transform: uppercase;
  white-space: nowrap;
  animation-delay: 0;
  padding: 0 80px;
}

.promo__wrapper .promo__title:last-child {
  animation-delay: 10s;
}

@keyframes titleTranslate {
  100% {
    transform: translate(-100%);
  }
}
