.puzzle {
  position: relative;
  width: 418px;
  height: 400px;
  overflow: hidden;
}

.puzzle__item {
  position: absolute;
  top: 0;
  left: 0;
}

.puzzle__item--1 {
  transform: translate(1%, 15%);
}

.puzzle__item--2 {
  transform: translate(108%, 50%);
}

.puzzle__item--3 {
  transform: translate(93%, -23%);
}

.puzzle__item--4 {
  transform: translate(-14%, 11%);
}

.puzzle__item--5 {
  transform: translate(-31%, 82%);
}
