.rocket {
    display: flex;
    align-items: center;
    position: relative;
    width: 535px;
    height: 264px;
    overflow: hidden;
}

.rocket__image {
    position: absolute;
    top: 0;
    left: 0;
}

.rocket__image--1 {
   transform: translate(-30%, -4%);
}

.rocket__image--2 {
    transform: translate(279%, 168%);
}

.rocket__image--3 {
    transform: translate(420%, 168%);
}

.rocket__image--4 {
    transform: translate(563%, 168%);
}

.rocket__image--5 {
    transform: translate(706%, 168%);
}

.rocket__image--6 {
    transform: translate(849%, 168%);
}