.rocket {
    display: flex;
    align-items: center;
    position: relative;
    width: 616px;
    height: 237px;
}

.rocket__image {
    position: absolute;
}

.rocket__image--1 {
    top: 0;
    left: 0;
}

.rocket__image--2 {
    top: 113px;
    left: 241px;
}

.rocket__image--3 {
    top: 113px;
    left: 322px;
}

.rocket__image--4 {
    top: 113px;
    left: 402px;
}

.rocket__image--5 {
    top: 113px;
    left: 479px;
}

.rocket__image--6 {
    top: 113px;
    right: 0;
}