.section {
  height: 100vh;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.section .container {
  display: grid;
  grid-template-columns: 43% 1fr;
  grid-template-rows: 1fr max-content;
}

.section h3 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  margin-top: 0;
}

.section__text {
  font-size: 20px;
  line-height: 32px;
}

.section__tag {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.section__mobile-text {
  display: none;
}

.section__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  grid-column: 1 / 2;
}

.section__text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  z-index: 1;
  position: relative;
  align-self: flex-end;
}

.section__bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.section__media {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.section__media .megaphone,
.section__media .rocket,
.section__media .puzzle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: $max-mobile-width) {
  .section h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }

  .section__text {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 0;
  }

  .section__tag {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.04em;
    margin-bottom: 0;
  }

  .section__wrapper {
    max-width: initial;
    width: 100%;
    margin-top: 45%;
  }

  .section .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .section__wrapper {
    position: static;
    top: auto;
    transform: none;
  }

  .section__media {
    position: static;
  }

  .section {
    height: auto;
  }

  .section__text {
    display: none;
  }

  .section__mobile-text {
    display: block;
  }

  .section__media .megaphone,
  .section__media .rocket,
  .section__media .puzzle {
    position: static;
    top: initial;
    transform: translateY(0);
  }
}
