.team {
  background-image: url("./../public/team-bg.svg");
}

.team ul {
  display: flex;
  color: $primary-green;
  margin: 0;
  padding: 0;
}

.team .container {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16%;
}

.team h3 {
  color: $primary-green;
  margin-bottom: 40px;
}


.team li + li {
  margin-left: 24px;
}

.team p {
  margin: 0;
}

.team h4 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 21px;
  margin-bottom: 8px;
  font-family: "Roboto", monospace, sans-serif;
}

.section.team {
  height: auto;
}
