.team {
  background-image: url("./../public/team-bg.svg");
}

.team ul {
  display: flex;
  color: $primary-green;
  margin: 0;
  padding: 0;
}

.team .container {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16%;
}

.team h3 {
  color: $primary-green;
  margin-bottom: 40px;
}

.team li + li {
  margin-left: 24px;
}

.team p {
  margin: 0;
}

.team h4 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 21px;
  margin-bottom: 8px;
  font-family: "Roboto", monospace, sans-serif;
}

.section.team {
  height: auto;
}

.team__img {
  position: relative;
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.team__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.team__img img:first-child {
  opacity: 1;
}

.team__img:hover img:first-child {
  opacity: 0;
}

.team__img:hover img:last-child {
  opacity: 1;
}
