.token .container {
  padding: 120px;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.token h3 {
  margin-bottom: 120px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.token .section__text {
  max-width: 242px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: rgba($basic-white, 0.75);
}

.token p {
  margin: 0;
  margin-bottom: 12px;
}

.token.section {
  height: auto;
}

.token .main-button {
  position: static;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

@media (max-width: $max-mobile-width) {
  .token .container {
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .token .section__text {
    display: block;
    text-align: left;
    max-width: initial;
    margin-bottom: 40px;
  }

  .token h3 {
    margin-bottom: 40px;
  }

  .token .main-button {
    margin-bottom: 40px;
    align-self: center;
    transform: translateX(0);
  }
}
