.ui-section {
  height: 100vh;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.ui-section .container {
  display: grid;
  grid-template-columns: 43% 1fr;
  grid-template-rows: 1fr max-content;
}

.ui-section h3 {
  font-family: "Roboto", monospace, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  margin-top: 0;
}

.ui-section__text {
  font-size: 20px;
  line-height: 32px;
  width: 412px;
}

.ui-section__tag {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ui-section__mobile-text {
  display: none;
}

.ui-section__wrapper {
  transform: translateY(50%);
  grid-column: 1 / 2;
}

.ui-section__text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  z-index: 1;
  position: relative;
  align-self: flex-end;
}

.ui-section__bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ui-section__media {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.ui-section__media .megaphone,
.ui-section__media .rocket,
.ui-section__media .puzzle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: $pre-desktop-width) {
 
}

@media (max-width: $max-tablet-width) {
  .ui-section h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    width: 412px;
  }

  .ui-section__text {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 0;
    align-self: center;
  }

  .ui-section__tag {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.04em;
    margin-bottom: 0;
  }

  .ui-section__wrapper {
    max-width: initial;
    margin-top: 45%;
    position: static;
    top: auto;
    transform: none;
  }

  .ui-section .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .ui-section .container h3 {
    // align-self: center;
    text-align: center;
  }

  .ui-section__media {
    position: static;
  }

  .ui-section {
    height: auto;
  }

  .ui-section__mobile-text {
    display: block;
  }

  .ui-section__media .megaphone,
  .ui-section__media .rocket,
  .ui-section__media .puzzle {
    position: static;
    top: initial;
    transform: translateY(0);
  }
}

@media (max-width: $max-mobile-width) {
  .ui-section__text {
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    align-self: flex-start;
  }

  .ui-section .container h3 {
    width: 100%;
    text-align: left;
  }


  .ui-section .container  {
    align-items: flex-start;
  }

  
  .ui-section__wrapper {
    width: 100%;
  }
}
