$primary-dark: #000B29;
$extra-light-grey: rgba(31, 31, 31, 0.122);
$light-grey: rgba(31, 31, 31, 0.502);
$light-blue: #276EF1;
$basic-white: #ffffff;
$bright-blue: #00D0FF;
$primary-green: #3AA76D;
$create-color: #FF375F;
$about-color: #ED6E33;
$dark-grey: #E0E0E4;

$desktop-content-width: 1440px; // Не для  @media!

// для  @media : 
$pre-desktop-width: 1439px;
$max-tablet-width: 1024px;
$max-mobile-width: 767px;